* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #012a4a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.main {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;
}

.img {
  height: 35px;
  width: 35px;
}

.box {
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #013a63;
  border-radius: 0.5em;
  width: 150%;
  height: auto;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: #2c7da0;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
  margin-top: 20px;
  cursor: pointer;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 90px;
}

@media only screen and (max-width: 950px) {
  .text-input {
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    padding: 0.5em;
    width: 100%;
    height: 50px;
  }

  .box {
    padding: 10px;
    margin: 15px 10px 0 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #013a63;
    border-radius: 0.5em;
    width: 100%;
    height: auto;
    display: block;
  }

  .img {
    height: 27px;
    width: 27px;
  }

  .main {
    width: 80vw;
    margin: auto;
    display: block;
    justify-content: center;
  }
  .titulo {
    padding-top: 15px;
    width: 30vw;
    font-size: 20px;
    margin: auto;
    text-align: center;
    display: flex;
  }
}
